<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

	<div class="w3-card w3-yellow">
		<p>w3-card</p>
		<div class="w3-container"></div>
		<p>Your id session is: 15611354BGET5GG</p>
		<p>Your name is: Alan Smith</p>
		<p>Status: CREATED</p>
	</div>


	<footer>
		<div class="footer">
			<p>2021 Java Spring with Swagger. All rights reserved.</p>
		</div>
	</footer>
</body>
</html>